@* <div class="header">

    <div class="title">
        <h3>ManHyve Dashboard</h3>
        <p>Monitor and manage your operations</p>
    </div>

    <div class="header-right">
        <select>
            <option>All Brands</option>
        </select>

        <button class="btn-master">MASTER</button>
    </div>

</div> *@