<div class="container-fluid">

    <!-- PAGE TITLE -->
    <div class="mb-4">
        <h3 class="fw-bold">Audit Assignments</h3>
        <p class="text-muted">Assign field force members to stores for post-audit activities</p>
    </div>

    <!-- TOP CARDS -->
    <div class="row g-3 mb-4">

        <div class="col-md-3">
            <div class="card p-3">
                <small class="text-muted">Total Stores</small>
                <h3 class="fw-bold">827</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3">
                <small class="text-muted">Assigned Stores</small>
                <h3 class="fw-bold">90</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3">
                <small class="text-muted">Unassigned Stores</small>
                <h3 class="fw-bold">160</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3">
                <small class="text-muted">Approved Stores</small>
                <h3 class="fw-bold">348</h3>
            </div>
        </div>

    </div>

    <!-- MAIN SECTION -->
    <div class="row g-3 mt-3 align-items-stretch">

        <!-- Assign Store Card -->
        <div class="col-md-6">
            <div class="card p-4 flex-fill">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5>Assign Store to Agent</h5>

                    <div>
                        <button class="btn btn-sm btn-light">Details</button>
                        <button class="btn btn-sm btn-light"><i class="fas fa-sync-alt"></i>Refresh</button>
                    </div>
                </div>

                <div class="text-muted small mb-3">
                    827 Stores &nbsp;&nbsp; 160 Agents
                </div>

                <label class="text-muted small mb-3l">SELECT AGENT</label>

                <select class="form-select mb-4">
                    <option>Select a field force member</option>
                </select>

                <label class="text-muted small mb-3">AGENTS WITH STORE ASSIGNMENTS:</label>

                <div class="list-group">

                    <div class="list-group-item d-flex justify-content-between">
                        randhirkumar
                        <span class="text-muted">0 stores</span>
                    </div>

                    <div class="list-group-item d-flex justify-content-between">
                        sandeepbhatnagar
                        <span class="text-muted">0 stores</span>
                    </div>

                    <div class="list-group-item d-flex justify-content-between">
                        baldevsingh
                        <span class="text-muted">0 stores</span>
                    </div>

                    <div class="list-group-item d-flex justify-content-between">
                        sureshbalai
                        <span class="text-muted">0 stores</span>
                    </div>

                </div>

            </div>
        </div>

        <!-- RIGHT SIDE -->
       @*  <div class="col-md-6 d-flex">
            <div class="row g-3">
                <div class="card p-4 flex-fill">

                    <h5 class="mb-3">Unassigned Stores</h5>

                    <input type="text" class="form-control mb-3" placeholder="Search field force...">

                    <div class="list-group">

                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            AANYA TRADERS PCO IWS RITHOURA (9248834461)
                            <span class="badge bg-light text-dark border">Unassigned</span>
                        </div>

                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            ABDUL HADI AUTO PARTS-KHAJUWALA (9106469859)
                            <span class="badge bg-light text-dark border">Unassigned</span>
                        </div>

                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            AMBIKA MOTORS (1100520154)
                            <span class="badge bg-light text-dark border">Unassigned</span>
                        </div>

                    </div>

                </div>
            </div>
       
            <div class="row g-3">
                <div class="card p-4 flex-fill">

                    <h5 class="mb-3">Assign Aprrovied Stores to Agent</h5>

                    <input type="text" class="form-control mb-3" placeholder="Search field force...">

                    <div class="list-group">

                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            AANYA TRADERS PCO IWS RITHOURA (9248834461)
                            <span class="badge bg-light text-dark border">Approved store</span>
                        </div>

                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            ABDUL HADI AUTO PARTS-KHAJUWALA (9106469859)
                            <span class="badge bg-light text-dark border">Approved store</span>
                        </div>

                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            AMBIKA MOTORS (1100520154)
                            <span class="badge bg-light text-dark border">Approved store</span>
                        </div>

                    </div>

                </div>
            </div>
        </div> *@

        <!-- RIGHT SIDE -->
        <div class="col-md-6">

            <!-- ROW 1 -->
            <div class="card p-4 mb-3">

                <h5 class="mb-3">Unassigned Stores</h5>

                <input type="text" class="form-control mb-3" placeholder="Search field force...">

                <div class="list-group">

                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        AANYA TRADERS PCO IWS RITHOURA (9248834461)
                        <span class="badge bg-light text-dark border">Unassigned</span>
                    </div>

                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        ABDUL HADI AUTO PARTS-KHAJUWALA (9106469859)
                        <span class="badge bg-light text-dark border">Unassigned</span>
                    </div>

                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        AMBIKA MOTORS (1100520154)
                        <span class="badge bg-light text-dark border">Unassigned</span>
                    </div>

                </div>

            </div>


            <!-- ROW 2 -->
            <div class="card p-4">

                <h5 class="mb-3">Assign Approved Stores to Agent</h5>

                <input type="text" class="form-control mb-3" placeholder="Search field force...">

                <div class="list-group">

                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        AANYA TRADERS PCO IWS RITHOURA (9248834461)
                        <span class="badge bg-light text-dark border">Approved Store</span>
                    </div>

                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        ABDUL HADI AUTO PARTS-KHAJUWALA (9106469859)
                        <span class="badge bg-light text-dark border">Approved Store</span>
                    </div>

                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        AMBIKA MOTORS (1100520154)
                        <span class="badge bg-light text-dark border">Approved Store</span>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>